body {
    font-family: Arial, sans-serif;
}

#results {
    padding: 0;
}

#results li {
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    margin: 0 0 10px 0;
}

#results li a {
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;
}

#results li .uri {
    display: block;
    margin: 0 0 5px 0;
    font-size: 8px;
}

#results li img {
    float: left;
    display: block;
    margin-right: 10px;
    width: 100;
}

#results li p {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/*Large displays*/
@media screen and (min-device-width: 480px) {
    #results {
        margin: 30px 0 0 30px;
    }

    #results li {
        width: 550px;
        margin-bottom: 30px;
    }

    #results li a {

    }

    #results li .uri {
        font-size: 11px;
        margin-bottom: 15px;
    }

    #results li p {
        width: 440px;
        font-size: 12px;
    }
}